
body[data-b2b="true"] foxkit-cart-goal
{
    display: none !important;
}
:root {
  --product-title-line-clamp: 2;
}

@font-face{
    font-family:"Lemon Milk";
    src: url(https://cdn.shopify.com/s/files/1/0642/0565/2198/files/LemonMilk.woff?v=1680144987);
}

.template-page.page-metpro-redesign-2.page-metpure-met-pro-wholesale-membership h1,
.template-page.page-metpro-redesign-2.page-metpure-met-pro-wholesale-membership h2,
.template-page.page-metpro-redesign-2.page-metpure-met-pro-wholesale-membership h3,
.template-page.page-metpro-redesign-2.page-metpure-met-pro-wholesale-membership .heading{
   font-family:"Lemon Milk";
}

@media (min-width: 175px) {
    .hidden-mobile {
      display: none;
    }
}
@media (min-width: 375px) {
    .show-mobile {
    display: block;
    margin: auto;
    padding: 10px;
    }
}
@media (min-width: 722px) {
    .show-mobile {
    display: none;
    }
}
@media (min-width: 830px) {
    .hidden-mobile {
    display: block;
    }
}
.collection-list .collection-list__inner--overflow {
    padding-left: 0 !important;
} 

@media (min-width: 375px) {
    .metpro-login-form {
    padding: 0 10%;
    }
}
@media (min-width: 575px) {
    .metpro-login-form {
        padding: 0 35%;
    }
}

.globo-form-app .panel {
    height: unset !important;
    min-height: unset !important;
    max-height: unset !important;
}
                                           

/*@font-face {
    font-family: "Gobold Bold";
    src: url(//www.metpure.com/cdn/shop/t/91/assets/Gobold-Bold.woff2?48703) format("woff2");
    src: url('//www.metpure.com/cdn/shop/t/91/assets/Gobold-Bold.woff?48703') format("woff");
    src: url('//www.metpure.com/cdn/shop/t/91/assets/Gobold-Bold.svg?48703') format('svg'),
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}*/


/* Faucet Landing Page */

@media (min-width: 375) {
.coming-soon {
  width: 60% !important;
}


<link href="https://fonts.googleapis.com/css2?family=Sherman&display=swap" rel="stylesheet">

@import url('https://fonts.googleapis.com/css2?family=Sherman&display=swap');

.italic-sherman {
  font-family: 'Sherman', sans-serif;
  font-style: italic;
}


<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> 

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.lobster-cursive {
  font-family: 'Lobster', cursive;
} 

<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"> 

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.pacifico-cursive {
  font-family: 'Pacifico', cursive;
}


 

@media screen and (max-width: 600px) {
    .responsive-table {
        display: block;
        overflow-x: auto;
        width: 100%;
    }
    .responsive-table table, .responsive-table thead, .responsive-table tbody, .responsive-table th, .responsive-table td, .responsive-table tr {
        display: block;
    }
    .responsive-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .responsive-table tr {
        margin: 0 0 1rem 0;
    }
    .responsive-table tr:nth-child(odd) {
        background: #ccc;
    }
    .responsive-table td {
        border: none;
        position: relative;
        padding-left: 50%;
        white-space: pre-wrap; /* Allow text wrapping */
    }
    .responsive-table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
    }
    .responsive-table td:nth-of-type(1):before { content: "Category"; }
    .responsive-table td:nth-of-type(2):before { content: "Specification"; }
    .responsive-table td:nth-of-type(3):before { content: "Value"; }
} 

@media only screen and (max-width: 768px) {
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
        display: none;
    }
}


.shopify-payment-button {
  display: none !important;
}


/* Cart Discount Area Styles 
.m\:flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

}
/* Cart Discount Area Styles */